
ul  {
    display: flex;
    justify-content: space-around;
}
 ul   > li {
    list-style-type: none;
}
.logo {
    display: flex;
    justify-content: center;
}
.mainNavSec {
    display: flex;
    justify-content: space-around;
}